/* CUSTOMER SECTION */
.customer {
	margin-top: 30px;

	p {
		color: $emailgray;
		font-size: 13.33px;
		line-height: 22px;

		strong {
			color: #222222;
		}
	}

	.notif {
		color: #757575;

		h4 {
			font-size: 13.33px;

			strong {
				color: #222222;
			}
		}

		p {
			font-size: 11.67px;

			span.fail {
				color: #F95E4D;
			}
		}

		.btn {
			text-align: center;
			a {
			    padding: 9px 15px;
			    background-color: #48B74D;
			    display: inline-block;
			    color: #fff;
			    font-size: 13.33px;
			    letter-spacing: 2px;
			    border-radius: 3.33px;
			    margin: 15px auto;
			    text-transform: uppercase;
			}
		}
	}

	.price {
		h5 {
			color: $emailgray;
			font-size: 10px;
			text-transform: uppercase;
			margin-bottom: 5px;
			clear: both;

			span {
				float: left;

				&.price-type {
				    color: #fff;
				    padding: 3px 10px;
				    font-size: 8.33px;
				    border-radius: 3px;
				    margin-left: 5px;
				    margin-top: -2px;
				    display: inline-block;
				    letter-spacing: 1px;

				    &.cash {
					    background: #48B74D;
				    }
				    &.gopay {
					    background: #5CA5DA;
				    }
				}
			}
		}
		h2 {
			color: #222222;
			font-weight: 700;
			font-size: 20px;
			clear: both;
		}
	}
}