/* FOOTER */

.footer {
    border-top: 1px dashed #C3C3C3;

    .ads {
        border: 0;
        padding-top: 30px;
    }

    .footer-body {
    	padding: 30px;
    	text-align: center;

    	h3 {
    		font-size: 11.67px;
    		color: #7B7B7B;
    		font-weight: 700;
    		margin-bottom: 15px;
    		text-align: center;

            &.text-left {
                text-align: left;
            }
    	}

    	.social {
    		text-align: center;
    		margin-bottom: 15px;

    		.circle {
    			border-radius: 50%;
    			background-color: #BDBDBD !important;
    			width: 32.28px;
    			height: 32.28px;
                margin: 0 2px;
    			display: inline-block;

    			&.twitter {
					background: url('https://d1o6t6wdv45461.cloudfront.net/s4/emails/twitter.png') no-repeat center center;
    			}
    			&.facebook {
					background: url('https://d1o6t6wdv45461.cloudfront.net/s4/emails/facebook.png') no-repeat center center;
    			}
    			&.linkedin {
					background: url('https://d1o6t6wdv45461.cloudfront.net/s4/emails/linkedin.png') no-repeat center center;
    			}
    			&.instagram {
					background: url('https://d1o6t6wdv45461.cloudfront.net/s4/emails/insta.png') no-repeat center center;
    			}
    			&.youtube {
					background: url('https://d1o6t6wdv45461.cloudfront.net/s4/emails/youtube.png') no-repeat center center;
    			}
    		}
            
            &.text-left {
                text-align: left;
            }
    	}

    	p {
    		font-size: 10px;
    		text-align: center;
    		color: #7B7B7B;

            strong {
                display: inline-block;
            }

            &.text-left {
                text-align: left;
            }

            a {
                color: #757575;
            }
    	}
    }
}