.margin-bottom-5 {
	margin-bottom: 5px;
}
.margin-bottom-10 {
	margin-bottom: 10px;
}
.margin-bottom-15 {
	margin-bottom: 15px;
}
.no-margin {
	margin: 0;
}

.font-14 {
	font-size: 14px;
}
.font-16 {
	font-size: 16px;
}

.width-54 {
	width: 54px;
}

.facebook {
	color: #3b5998;
	font-weight: 700;
}