@import 'helper';
@import 'main-logo';
@import 'customer';
@import 'title';
@import 'order';
@import 'details';
@import 'ads';
@import 'footer';

.container {
	margin: 30px auto !important;

	&.goride {
		border-top: 6px solid $goride;

		.main-logo {
			a {
				background: url('https://d1o6t6wdv45461.cloudfront.net/s4/emails/logo-goride.png') no-repeat center left;
			}
		}

		.logo-name {
			color: $goride;
		}
	}

	&.gopay {
		border-top: 6px solid $gopay;

		.main-logo {
			a {
				background: url('https://d1o6t6wdv45461.cloudfront.net/s4/emails/logo-gopay.png') no-repeat center left;
			}
		}

		.logo-name {
			color: $gopay;
		}

		.invoice-border .bordered-dash p {
			font-weight: 100;
		}

		.details .total {
			border-bottom: 1px solid #E7E7E7;
		    margin-bottom: 15px;
		    border-width: 0.833px;
		}
	}

	&.gopulsa {
		border-top: 6px solid $gopulsa;

		.main-logo {
			a {
				background: url('https://d1o6t6wdv45461.cloudfront.net/s4/emails/logo-gopulsa.png') no-repeat center left;
			}
		}

		.logo-name {
			color: $gopulsa;
		}
	}

	&.gotix {
		border-top: 6px solid $gotix;

		.main-logo {
			a {
				background: url('https://d1o6t6wdv45461.cloudfront.net/s4/emails/logo-gotix.png') no-repeat center left;
			}
		}

		.logo-name {
			color: $gotix;
		}
	}

	&.gofood {
		border-top: 6px solid $gofood;

		.main-logo {
			a {
				background: url('https://d1o6t6wdv45461.cloudfront.net/s4/emails/logo-gofood.png') no-repeat center left;
			}
		}

		.logo-name {
			color: $gofood;
		}
	}

	&.gomart {
		border-top: 6px solid $gomart;

		.main-logo {
			a {
				background: url('https://d1o6t6wdv45461.cloudfront.net/s4/emails/logo-gomart.png') no-repeat center left;
			}
		}

		.logo-name {
			color: $gomart;
		}
	}

	&.gomed {
		border-top: 6px solid $gomed;

		.main-logo {
			a {
				background: url('https://d1o6t6wdv45461.cloudfront.net/s4/emails/logo-gomed.png') no-repeat center left;
			}
		}

		.logo-name {
			color: $gomed;
		}
	}
	&.gobox {
		border-top: 6px solid $gobox;

		.main-logo {
			a {
				background: url('https://d1o6t6wdv45461.cloudfront.net/s4/emails/logo-gobox.png') no-repeat center left;
			}
		}

		.logo-name {
			color: $gobox;
		}
	}
}

/* SEPARATOR */
.line-separator {
	border-bottom: 1px solid #E7E7E7;
	margin: 20px 16px;
}

@media screen and (max-width: 616px) {
	.container {
		&.goride {	
			.main-logo {
				a {
					background: url('https://d1o6t6wdv45461.cloudfront.net/s4/emails/logo-goride.png') no-repeat center center;
				}
			}
		}
	}
}