<div class="line-separator"></div>

  <row class="attention">
    <columns small="12" large="12">
      <p class="note">
        Email ini dikirimkan secara otomatis. Mohon tidak membalas ke email ini.
      </p>
      <spacer size="10px"></spacer>
      <p class="box">
        Mohon berhati-hati terhadap pihak luar yang menggunakan nama GO-JEK Indonesia untuk mendistribusikan voucher GO-PAY atau meminta data pribadi Anda. GO-JEK Indonesia tidak pernah meminta informasi password atau data pribadi Anda melalui email, pesan pribadi, atau pun media lainnya.
      </p>
    </columns>
  </row>

  <row class="footer">
    <columns small="12" large="12" class="footer-body">
      <h3>Ikuti kami</h3>
      <div class="social">
        <a class="circle twitter" href="https://twitter.com/gojekindonesia"></a>
        <a class="circle facebook" href="https://facebook.com/gojekindonesia"></a>
        <a class="circle linkedin" href="https://www.linkedin.com/company/pt--go-jek-indonesia"></a>
        <a class="circle instagram" href="https://www.instagram.com/gojekindonesia/"></a>
        <a class="circle youtube" href="https://www.youtube.com/channel/UCmlKSK0OKn_B3oPwElW4n5w"></a>
      </div>
      <p class="content">Ada pertanyaan? Hubungi Kami di <a href="mailto:customerservice@go-jek.com"><strong>customerservice@go-jek.com</strong></a></p>
    </columns>
  </row>