<div class="line-separator"></div>

  <row class="attention">
    <columns small="12" large="12">
      <p class="note">
        This email has been generated automatically, please do not reply.
      </p>
      <spacer size="10px"></spacer>
      <p class="box">
        Please beware of any other party that uses  GO-JEK Indonesia’s name to distribute GO-PAY voucher or asks for your personal data. GO-JEK Indonesia never requests your password or personal data through email, personal message or any other media.
      </p>
    </columns>
  </row>

  <row class="footer">
    <columns small="12" large="12" class="footer-body">
      <h3>Follow Us On</h3>
      <div class="social">
        <a class="circle twitter" href="https://twitter.com/gojekindonesia"></a>
        <a class="circle facebook" href="https://facebook.com/gojekindonesia"></a>
        <a class="circle linkedin" href="https://www.linkedin.com/company/pt--go-jek-indonesia"></a>
        <a class="circle instagram" href="https://www.instagram.com/gojekindonesia/"></a>
        <a class="circle youtube" href="https://www.youtube.com/channel/UCmlKSK0OKn_B3oPwElW4n5w"></a>
      </div>
      <p class="content">Have question on your order? Contact Us at : <a href="mailto:customerservice@go-jek.com"><strong>customerservice@go-jek.com</strong></a></p>
    </columns>
  </row>